/*Fonts*/

@font-face {
    font-family: "header font";
    src: url(./fonts/h1-headers/Kalam-Regular.ttf) format("truetype"),
         url(./fonts/h1-headers/Kalam-Regular.woff) format("woff"),
         url(./fonts/h1-headers/Kalam-Regular.woff2) format("woff2");

}

@font-face {
    font-family: "quote font";
    src: url(./fonts/subheaders/MarckScript-Regular.ttf) format("truetype"),
         url(./fonts/subheaders/MarckScript-Regular.woff) format("woff"),
         url(./fonts/subheaders/MarckScript-Regular.woff2) format("woff2");        
}


/* Header Section */

header {
    text-align: center;

}

header h1 {
    font-size: 40px;
    line-height: .4;
    padding-top: 20px;
    font-family: "header font", sans-serif;
}

header h3 {
    font-family: "quote font", sans-serif;
}
/* Nav Section */

nav {
    border-bottom: 1px solid lightgray;
    border-top : 1px solid lightgray;
    background-color: rgba(55, 185, 229, 0.105);
    position: fixed;
    top: 0px;
    z-index: 1000;
}

nav ul li {
    display: inline;
    padding: 20px 60px;
}

#html-tables {
    text-align: center;
    padding: 40px;
}